@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-slate-950 text-slate-300 antialiased overflow-x-hidden;
  }
}

@layer utilities {
  /* --- Custom Scrollbar for Modals --- */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full transition-colors;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-brand-orange;
  }
}

/* --- Custom Animations --- */
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}